.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 3s;
}
.ex-1-square:hover{
    background-color: red;
}



.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-2-square:active{
    transition: 3s;
    width: 100%;
}


.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-3-square:hover{
    transition: 3s;
    border-radius: 50%;
}




.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    animation: disappear 3s;
}

@keyframes disappear{
100% {top: 0;
   background-color: rgb(245,245,245)
}


}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-5-square:hover{
    width: 120px;
    height: 120px;

}
.ex-5-square:active{
    width: 30px;
    height: 30px;

}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover{
    filter: grayscale(100%);

}

.ex-7-img:hover{
    filter: grayscale(100%);
    width: 1000px;
    border-radius: 50%;
    transition: 5s;
}

.ex-8-img:hover{
    filter: grayscale(100%);
    width: 1000px;
    border-radius: 50%;
    transition: 5s;
    height: 100px;
}


.ex-9-img {
    margin: 50px 100px;
    animation: smallscale 5s;
    width: 400px;
}

.ex-9-img:hover{
    filter: grayscale(100%);
    border-radius: 50%;
    transition: 5s;
    width: 200px;
}




.ex-10-icon {
    font-size: 60px;
    animation: transform 5s infinite linear;
}


@keyframes transform {
    

    100%{
        transform: rotate(360deg);
    }

}



.ex-11-icon {
    font-size: 60px;
  
}
.ex-11-icon:hover{
    
    animation: backrotation 3s ease-in-out;
}

@keyframes backrotation {
    

    0%{
        transform: rotate(0deg);
    }

    90%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(0deg);
    }
}




.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
   
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}




.ex-13-tp-white{
    animation: rotationtop 3s linear;
}

.ex-13-bottom-white{
    animation: rotationbottom 3s linear;
}
/* es.13 */


@keyframes rotationbottom {
   0%{
        bottom: -10px;
        right: 20%;
   } 
   20%{
        bottom: -10px;
        right: 75%;
        
    }
    40%{
        bottom: 50px;
        right: 75%;
        
    }
    60%{
        bottom:50px;
        right: 0%;
    }
    }
    
}


@keyframes rotationtop {
   0%{
        top: -10px;
        left: 10%;
   } 
   20%{
         top: -10px;
         left: 100%;
    
    }
    40%{
        top: 50px;
        left: 100%;
   }
    60%{
        top:50px;
        left:-10px;
    }

    80%{
        top:-10px;
        left:-10px;
    }
100%{
    top: -10px;
        left: 10%;
}

.ex-13-top-white{
    animation: rotationtop 3s linear;
}
}























/* es12 */



.ex-12-top-white{
    animation: topspace12  5s linear;
}

.ex-12-bottom-white{

    animation: bottomspace12  5s linear;
}

@keyframes topspace12 {
    100%{
        top: -10px;
        left: 80%;
    }
    
}

@keyframes bottomspace12 {
    100%{
        bottom: -10px;
        right: 70%;
    }
    
}
